<style>
  #shopify-block-{{ block.id }}.media-grid {
    position: relative;
    gap: {% if block.settings.gap == 'xlg' %}1.25rem{% elsif block.settings.gap == 'lg' %}1rem{% elsif block.settings.gap == 'md' %}0.5rem{% else %}0{% endif %};
  }

  @media screen and (min-width: 700px) {
    #shopify-block-{{ block.id }}.media-grid {
      --media-grid-column-span: {{ block.settings.desktop_column_span }};
      --media-grid-row-span: {{ block.settings.desktop_row_span }};
      grid: auto-flow dense minmax(10px, auto) / repeat({{ block.settings.desktop_column_num }}, minmax(0,1fr));
    }
  }
</style>

{%- liquid
  assign title = block.settings.title | default: block.settings.page.title
-%}

{% capture content %}
  <media-grid id="shopify-block-{{ block.id }}" class="media-grid">
    {% content_for 'blocks' %}
  </media-grid>
{% endcapture %}

{%- render 'accordion', title: title, content: content -%}

{%- if title != blank and content != blank -%}
  <button type="button" slot="title" class="tabs-nav__button bold text-subdued text-center" {{ block.shopify_attributes }}>{{ title | escape }}</button>
  <div role="tabpanel" class="tab-content prose" slot="content" {% cycle '', 'hidden', 'hidden', 'hidden', 'hidden' %}>
    {{ content }}
  </div>
{%- endif -%}

{% schema %}
{
  "name": "tabs",
  "tag": null,
  "blocks": [{ "type": "@theme" }, { "type": "@app" }],
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Tab"
    },
    {
      "type": "select",
      "id": "gap",
      "label": "Gap",
      "options": [
        {
          "value": "xlg",
          "label": "X-large"
        },
        {
          "value": "lg",
          "label": "Large"
        },
        {
          "value": "md",
          "label": "Middle"
        },
        {
          "value": "sm",
          "label": "Small"
        }
      ]
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "range",
      "id": "desktop_column_num",
      "label": "Desktop column num",
      "min": 1,
      "max": 12,
      "step": 1,
      "default": 4
    },
    {
      "type": "range",
      "id": "mobile_column_num",
      "label": "Mobile column num",
      "min": 1,
      "max": 10,
      "step": 1,
      "default": 4
    }
  ],
  "presets": [
    {
      "name": "Tabs"
    }
  ]
}
{% endschema %}