<div class="black-countdown-global">
  <div>
    {% if section.settings.title != blank %}
      <div class="black-countdown-title">
        {{ section.settings.title }}
      </div>
    {% endif %}
    {% if section.settings.content != blank %}
      <div>
        {{ section.settings.content }}
      </div>
    {% endif %}
  </div>
  {%- assign timetxt = section.settings.timetxt | split: '|' -%}
  <div class="black-countdown-box" data-end-time="{{ section.settings.time }}">
    <div>
      <div class="black-countdown-num-box">
        <span class="index-days black-countdown-num">00</span>
        <em class="">:</em>
      </div>
      <div class="black-countdown-text">{{ timetxt[0] }}</div>
    </div>

    <div>
      <div class="black-countdown-num-box">
        <span class="index-hours black-countdown-num">00</span>
        <em class="">:</em>
      </div>
      <div class="black-countdown-text">{{ timetxt[1] }}</div>
    </div>
    <div>
      <div class="black-countdown-num-box">
        <span class="index-minutes black-countdown-num">00</span>
        <em class="">:</em>
      </div>
      <div class="black-countdown-text">{{ timetxt[2] }}</div>
    </div>
    <div>
      <span class="index-seconds black-countdown-num">00</span>
      <div class="black-countdown-text">{{ timetxt[3] }}</div>
    </div>
  </div>
  <div class="black-countdown-icon-box">
    <img
      src="{{ section.settings.icon | image_url: width: 240 }}"
      alt="{{ section.settings.icon.alt | escape }}"
      width="120"
      height="{{ 78 | divided_by: section.settings.icon.aspect_ratio | ceil }}"
      loading="lazy"
    >
  </div>
</div>
<style>
  .black-countdown-global {
    background: #262425;
    padding: 60px 15px;
    color: #fff;
    position: relative;
  }
  .black-countdown-title {
    text-align: center;
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 50px;
  }
  .black-countdown-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .black-countdown-num-box {
    display: flex;
    align-items: center;
  }
  .black-countdown-num {
    background: {{ section.settings.background }};
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    color: {{ section.settings.text-color }};
    display: block;

    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 500;
    font-size: 32px;
  }
  .black-countdown-num,
  .black-countdown-text {
    width: 63px;
  }
  .black-countdown-box em {
    vertical-align: top;
    margin: 0 7px;
    font-style: normal; /* 去掉斜体样式 */
    font-weight: 500;
    font-size: 18px;
  }
  .black-countdown-text {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
  }
  .black-countdown-icon-box {
    position: absolute;
    bottom: 0;
    width: calc(100% - 30px);
    height: 78px;
  }
  .black-countdown-icon-box img {
    height: 100%;
    width: auto;
    position: absolute;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
  @media (max-width: 960px) {
    .black-countdown-global {
      padding: 30px 15px 60px 15px;
    }
    .black-countdown-title {
      font-size: 22px;
    }
    .black-countdown-num,
    .black-countdown-text {
      width: 53px;
    }
    .black-countdown-num {
      height: 53px;
      font-size: 26px;
    }
    .black-countdown-title {
      margin-bottom: 24px;
    }
    .black-countdown-text {
      margin-top: 2px;
      font-size: 12px;
    }
    .black-countdown-icon-box {
      height: 46px;
    }
  }
</style>

<script type="text/javascript" defer>
  class Countdown {
    constructor() {
      this.container = document.querySelector('.black-countdown-box');
      this.endTime = new Date(this.container.dataset['endTime']).getTime();
      // 结束时间
      this.timer = 0; // 定时器
      this.distance = 0;
      // 倒计时容器
      this.daysEle = document.querySelector('.index-days');
      // 天数元素
      this.hoursEle = document.querySelector('.index-hours');
      // 小时元素
      this.minutesEle = document.querySelector('.index-minutes');
      // 分钟元素
      this.secondsEle = document.querySelector('.index-seconds');
      // 秒数元素
      this.init();
      // 初始化
    }

    // 初始化
    init() {
      // 更新倒计时
      this.updateCountdown();
      // 每隔1秒更新倒计时
      this.timer = setInterval(() => {
        this.updateCountdown();
      }, 1000);
    }

    // 更新倒计时
    updateCountdown() {
      // 计算剩余时间
      let now = new Date().getTime();
      this.distance = this.endTime - now;
      if (this.distance > 0) {
        this.start();
      }
    }
    start() {
      this.updateCounter();
      this.timer = setInterval(() => {
        this.updateCounter();
      }, 1000);
    }

    stop() {
      clearInterval(this.timer);
      this.timer = null;
    }

    updateCounter() {
      const diff = this.distance;
      if (diff <= 0) {
        this.stop();
        // this.container.style.display = 'none';
        return;
      }

      const days = Math.floor(diff / (1000 * 60 * 60 * 24));
      const hours = Math.floor((diff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      const minutes = Math.floor((diff % (1000 * 60 * 60)) / (1000 * 60));
      const seconds = Math.floor((diff % (1000 * 60)) / 1000);
      this.daysEle.innerHTML = days < 10 ? '0' + days : days;
      // 天数元素
      this.hoursEle.innerHTML = hours < 10 ? '0' + hours : hours;
      // 小时元素
      this.minutesEle.innerHTML = minutes < 10 ? '0' + minutes : minutes;
      // 分钟元素
      this.secondsEle.innerHTML = seconds < 10 ? '0' + seconds : seconds;
      // 秒数元素
    }
  }
  new Countdown();
</script>
{%- schema -%}
{
  "name": "黑五倒计时",
  "tag": "section",
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "标题",
      "default": "Limited-Time Offers"
    },
    {
      "type": "text",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "textarea",
      "id": "timetxt",
      "label": "时间文案用 | 隔开",
      "default": "Days|Hrs|Mins|Secs"
    },
    {
      "type": "text",
      "id": "time",
      "label": "倒计时时间",
      "default": "2024-01-15T10:00:00+08:00",
      "info": "2024-01-15T10:00:00+08:00"
    },
        {
      "type": "color",
      "id": "background",
      "label": "倒计时背景颜色",
      "default":"#fff",
    },
    {
      "type": "color",
      "id": "text-color",
      "label": "倒计时数字颜色",
      "default":"#fff",
    },
    {
      "type": "image_picker",
      "id": "icon",
      "label": "底部图标"
    }
  ],
  "presets": [
    {
      "name": "黑五倒计时"
    }
  ]
}
{%- endschema -%}
