<style>
  #shopify-section-{{ section.id }} .quantity-input {
    border-width: 0;
    min-width: 32px;
  }

  @media screen and (max-width: 700px) {
    #shopify-section-{{ section.id }} .quantity-selector__button {
      padding-inline-start: var(--spacing-3);
      padding-inline-end: var(--spacing-3);
    }

    cart-drawer .drawer::part(body) {
      padding: 11px;
      scrollbar-width: none;
    }
  }

  @keyframes progress-bar-stripes {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 40px 0;
    }
  }
  
  cart-drawer .progress-bar:before {
    text-align: center;
    animation: 2s linear 0s infinite progress-bar-stripes;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
    transition: .9s linear;
    transition-property: width, background-color;
    background-color: #69c69c;
  }

  cart-drawer .progress-bar {
    height: 16px;
    background: #ededed;
  }

  cart-drawer .progress-truck-wrapper {
    position: absolute;
    right: 0;
    bottom: -2px;
  }

  cart-drawer .cart-icon {
    height: 20px;
  }

  cart-drawer .drawer::part(body) {
    padding: var(--spacing-5) var(--spacing-3);
  }

  cart-drawer .buy-buttons--compact {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
</style>


<cart-drawer {% if request.design_mode %}handle-section-events{% endif %} class="cart-drawer drawer drawer--lg" id="cart-drawer">
  {%- if cart.item_count == 0 -%}
    <button is="close-button" aria-label="{{ 'general.accessibility.close' | t | escape }}">
      {%- render 'icon' with 'close' -%}
    </button>

    <div class="empty-state align-self-center">
      <div class="empty-state__icon-wrapper">
        {%- render 'icon' with 'cart', width: 32, height: 32, stroke_width: 1 -%}
        <span class="count-bubble count-bubble--lg">0</span>
      </div>

      <div class="prose">
        <p class="h5">{{ 'cart.general.empty' | t }}</p>

        {%- assign button_content = 'cart.general.continue_shopping' | t -%}
        {%- render 'button', href: settings.cart_empty_button_link, size: 'xl', content: button_content -%}
      </div>
    </div>
  {%- else -%}
    <div class="cart-drawer__inner">
      <div class="cart-drawer__top">
        <div class="h-stack items-center justify-between">
          <div class="h-stack grow gap-2 sm:gap-2.5">
            <p class="h5">{{- 'cart.general.title' | t -}}</p>
            <cart-count class="count-bubble count-bubble--md">{{ cart.item_count }}</cart-count>
          </div>

          <button type="button" is="close-button" class="drawer__close-icon">
            <span class="sr-only">{{ 'general.accessibility.close' | t }}</span>
            {%- render 'icon' with 'close' -%}
          </button>
        </div>

        {% render 'discounts', block: section %}
      </div>

      <div class="v-stack gap-6 sm:gap-8">
        <div class="cart-drawer__line-items">
          {%- for line_item in cart.items -%}
            {%- render 'line-item', line_item: line_item, show_desktop_quantity: true -%}
          {%- endfor -%}
        </div>

        {%- if section.settings.products.count > 0 -%}
          <div class="cart-drawer__recommendations">
            <div class="v-stack gap-2.5 sm:gap-4">
              {%- capture carousel_id -%}cart-drawer-recommendations{%- endcapture -%}

              {%- liquid
                assign horizontal_products_blends = true
                assign product_card_background = section.settings.product_card_background | default: product.settings.product_card_background

                if product_card_background != 'rgba(0,0,0,0)' and product_card_background != blank and product_card_background != settings.dialog_background
                  assign horizontal_products_blends = false
                endif

                assign rendered_recommendations = 0

                capture recommendations
                  for recommended_product in section.settings.products
                    assign item_count_in_cart = cart | line_items_for: recommended_product

                    if item_count_in_cart.size == 0
                      render 'horizontal-product', product: recommended_product, show_add_to_cart: true, background: section.settings.product_card_background, text_color: section.settings.product_card_text_color
                      assign rendered_recommendations = rendered_recommendations | plus: 1
                    endif
                  endfor
                endcapture
              -%}

              {%- if rendered_recommendations > 0 -%}
                <div class="h-stack justify-between gap-4">
                  {%- if section.settings.recommendations_title != blank -%}
                    <p>{{ section.settings.recommendations_title | escape }}</p>
                  {%- endif -%}

                  {%- if rendered_recommendations > 1 -%}
                    <div class="h-stack gap-2 hidden sm:flex">
                      <button is="prev-button" class="circle-chevron hover:colors" aria-controls="{{ carousel_id }}" aria-label="{{ 'general.accessibility.previous' | t | escape }}" disabled>{%- render 'icon' with 'chevron-left-small', direction_aware: true -%}</button>
                      <button is="next-button" class="circle-chevron hover:colors" aria-controls="{{ carousel_id }}" aria-label="{{ 'general.accessibility.next' | t | escape }}">{%- render 'icon' with 'chevron-right-small', direction_aware: true -%}</button>
                    </div>
                  {%- endif -%}
                </div>
              {%- endif -%}

              {%- if recommendations != blank -%}
                <scroll-carousel selector=".horizontal-product" id="{{ carousel_id }}" class="horizontal-product-list-carousel {% unless horizontal_products_blends %}separate{% endunless %} scroll-area bleed">
                  <div class="horizontal-product-list {% if horizontal_products_blends %}divide-x{% else %}separate{% endif %}">
                    {{- recommendations -}}
                  </div>
                </scroll-carousel>
              {%- endif -%}
            </div>
          </div>
        {%- endif -%}
      </div>
    </div>

    <div class="v-stack gap-4 sm:gap-6" slot="footer">
      {%- if settings.cart_show_free_shipping_threshold -%}
        {%- render 'free-shipping-bar' -%}
      {%- endif -%}

      <div class="h-stack gap-4 justify-between">
        {%- if section.settings.show_cart_note -%}
          <div class="h-stack gap-2 justify-between align-center">

            <button type="button" class="justify-self-start cart-icon" aria-controls="cart-drawer-note">
              {% render 'icon' with 'pen', width: 20, height: 20 %}
            </button>

            <button type="button" class="justify-self-start cart-icon" aria-controls="cart-drawer-shipping">
              {% render 'icon' with 'picto-truck', width: 20, height: 20 %}
            </button>

            <button type="button" class="justify-self-start cart-icon" aria-controls="cart-drawer-coupon">
              {% render 'icon' with 'coupon', width: 24, height: 20 %}
              <span data-discount-noti class="m-cart-addon__icon--noti m:hidden m:rounded-full"></span>
            </button>
          </div>

          <cart-note-dialog id="cart-drawer-note" class="cart-drawer__note">
            <div class="cart-drawer__note-inner">
              <div class="v-stack gap-4 sm:gap-6">
                <p class="h5">{{ 'cart.general.order_note' | t }}</p>

                <cart-note class="v-stack gap-4">
                  {%- assign order_note = 'cart.general.order_note' | t -%}
                  {%- assign order_save_label = 'cart.general.save_note' | t -%}

                  {%- render 'input', name: 'note', multiline: 3, label: order_note, value: cart.note -%}

                  <div class="justify-self-start">
                    {%- render 'button', type: 'button', content: order_save_label, size: 'lg', is: 'close-button', secondary: true -%}
                  </div>
                </cart-note>
              </div>
            </div>
          </cart-note-dialog>

          <cart-note-dialog id="cart-drawer-shipping" class="cart-drawer__note">
            <div class="cart-drawer__note-inner">
              <div class="v-stack gap-4 sm:gap-6">
                {% render 'shipping-estimator' %}
              </div>
            </div>
          </cart-note-dialog>

          <cart-note-dialog id="cart-drawer-coupon" class="cart-drawer__note">
            <div class="cart-drawer__note-inner">
              <div class="v-stack gap-4 sm:gap-6">
                <p class="h5">Add a discount</p>

                <cart-coupon class="v-stack gap-4">
                  {%- assign order_save_label = 'cart.general.save_note' | t -%}

                  {%- render 'input', name: 'coupon', label: 'Add a discount', value: cart.coupon -%}

                  <div class="justify-self-start">
                    {%- render 'button', type: 'button', content: order_save_label, size: 'lg', is: 'close-button', secondary: true -%}
                  </div>
                </cart-coupon>
              </div>
            </div>
          </cart-note-dialog>
        {%- endif -%}

        <div class="v-stack gap-2">
          {% for discount_application in cart.cart_level_discount_applications %}
            <div class="h-stack gap-2 justify-between">
              <div class="badge">
                {%- render 'icon' with 'discount' -%} {{- discount_application.title -}}
              </div>

              <span class="text-subdued text-on-sale text-sm">-{{ discount_application.total_allocated_amount | money }}</span>
            </div>
          {% endfor %}
        </div>
        
      </div>
      
      
      <div class="v-stack gap-1">
        <div class="h-stack gap-4 justify-between">
          <span class="h5">{{ 'cart.general.total' | t }}</span>
          <span class="h-stack gap-2">
            <span class="text-subdued line-through">{{- cart.original_total_price | money -}}</span>
            <span class="h5 text-on-sale">{{- cart.total_price | money -}}</span>
          </span>
        </div>

        {%- if section.settings.show_shipping_text -%}
          {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
            <p class="text-subdued text-sm">{{ 'cart.general.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}</p>
          {%- elsif cart.taxes_included -%}
            <p class="text-subdued text-sm">{{ 'cart.general.taxes_included_but_shipping_at_checkout' | t }}</p>
          {%- elsif shop.shipping_policy.body != blank -%}
            <p class="text-subdued text-sm">{{ 'cart.general.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}</p>
          {%- else -%}
            <p class="text-subdued text-sm">{{ 'cart.general.taxes_and_shipping_at_checkout' | t }}</p>
          {%- endif -%}
        {%- endif -%}
      </div>

      <form action="{{ routes.cart_url }}" method="POST" class="buy-buttons {% if section.settings.show_checkout_button %}buy-buttons--compact{% endif %}">
        {%- assign checkout_label = 'cart.general.checkout' | t -%}

        {%- if section.settings.show_view_cart_button or section.settings.show_checkout_button == false -%}
          <a href="{{ routes.cart_url }}" class="button" data-no-instant>
            {{- 'cart.general.view_cart' | t -}}
          </a>
        {%- endif -%}

        {%- if section.settings.show_checkout_button -%}
          {%- render 'button', type: 'submit', content: checkout_label, icon: 'picto-lock', name: 'checkout', background: section.settings.checkout_background -%}
        {%- endif -%}
      </form>
    </div>
  {%- endif -%}
</cart-drawer>

{% schema %}
{
  "name": "Cart drawer",
  "settings": [
    {
      "type": "paragraph",
      "content": "Cart drawer won't appear to your customers if you have set the cart type to Page in the global theme settings."
    },
    {
      "type": "paragraph",
      "content": "Free shipping bar can be configured in global cart settings."
    },
    {
      "type": "checkbox",
      "id": "show_cart_note",
      "label": "Show cart note",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_shipping_text",
      "label": "Show shipping text",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_view_cart_button",
      "label": "Show view cart button",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_checkout_button",
      "label": "Show checkout button",
      "default": true
    },
    {
      "type": "header",
      "content": "Product recommendations"
    },
    {
      "type": "text",
      "id": "recommendations_title",
      "label": "Heading",
      "default": "Trending this month"
    },
    {
      "type": "product_list",
      "id": "products",
      "label": "Recommendations",
      "info": "Suggest additional products to your customers. Recommendations already in the cart are automatically hidden.",
      "limit": 10
    },
    {
      "type": "color",
      "id": "product_card_background",
      "label": "Product card background"
    },
    {
      "type": "color",
      "id": "product_card_text_color",
      "label": "Product card text"
    },
    {
      "type": "color",
      "id": "checkout_background",
      "label": "Checkout background"
    },
    {
      "type": "header",
      "content": "Discounts"
    },
    {
      "type": "text",
      "id": "discount1",
      "label": "Discount 1"
    },
    {
      "type": "text",
      "id": "discount2",
      "label": "Discount 2"
    },
    {
      "type": "text",
      "id": "discount3",
      "label": "Discount 3"
    },
    {
      "type": "text",
      "id": "discount4",
      "label": "Discount 4"
    },
    {
      "type": "text",
      "id": "discount5",
      "label": "Discount 5"
    },
    {
      "type": "text",
      "id": "discount6",
      "label": "Discount 6"
    },
    {
      "type": "text",
      "id": "discount7",
      "label": "Discount 7"
    },
    {
      "type": "text",
      "id": "discount8",
      "label": "Discount 8"
    },
    {
      "type": "text",
      "id": "discount9",
      "label": "Discount 9"
    },
    {
      "type": "text",
      "id": "discount10",
      "label": "Discount 10"
    }
  ]
}
{% endschema %}
