{%- if section.blocks.size > 0 -%}
  {%- render 'section-spacing-collapsing' -%}

  <style>
    @media screen and (min-width: 700px) {
      #shopify-section-{{ section.id }} {
        --tabs-max-width: {% if section.settings.content_size == 'small' %}760{% elsif section.settings.content_size == 'medium' %}1000{% elsif section.settings.content_size == 'large' %}1260{% endif %}px;
        --section-stack-spacing-block: var(--spacing-8);
      }
    }

    @media screen and (min-width: 1400px) {
      #shopify-section-{{ section.id }} {
        --section-stack-spacing-block: var(--spacing-10);
      }
    }

    @media screen and (max-width: 700px){
      #shopify-section-{{ section.id }} .tabs-nav__button,
      #shopify-section-{{ section.id }} [role="tabpanel"] {
        display: none;
      }

      #shopify-section-{{ section.id }} .section {
        padding-block-end: 0;
      }

      #shopify-section-{{ section.id }} .tabs-accordion {
        display: flex;
        flex-direction: column;
      }

      #shopify-section-{{ section.id }} .tabs-accordion .accordion__toggle {
        font-size: 16px;
        padding: 15px 0px;
        font-weight: 600;
      }

      #shopify-section-{{ section.id }} .tabs-accordion .accordion__content {
        padding-inline-end: 0;
      }

      #shopify-section-{{ section.id }} .tabs-accordion .accordion__content p {
        margin-block-start: var(--spacing-4);
      }
    }

    #shopify-section-{{ section.id }} .content-over-media>:not(img,video,iframe,svg,video-media) {
      max-width: 100%;
      width: 100%;
      height: 100%;
    }

    #shopify-section-{{ section.id }} .prose:has(.icon-width) {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    #shopify-section-{{ section.id }} .accordion__content {
      padding-inline-end: 0;
    }

    #shopify-section-{{ section.id }} h3 {
      font-size: 24px;
    }

    #shopify-section-{{ section.id }} h5 {
      font-size: 18px;
    }

    #shopify-section-{{ section.id }} h6 {
      font-size: 15px;
    }

    @media screen and (max-width: 700px){
      #shopify-section-{{ section.id }} h3 {
        font-size: 20px;
      }

      #shopify-section-{{ section.id }} h5 {
        font-size: 18px;
      }
    }
  </style>

  <div {% render 'section-properties' %}>
    <div class="tabs">
      <div class="section-stack">
        {%- if section.settings.subheading != blank or section.settings.title != blank -%}
          <div class="prose text-center">
            {%- if section.settings.subheading != blank -%}
              <p class="subheading">{{ section.settings.subheading | escape }}</p>
            {%- endif -%}

            {%- if section.settings.title != blank -%}
              <p class="h2">
                {%- render 'styled-text',
                  content: section.settings.title,
                  text_color: section.settings.heading_color,
                  gradient: section.settings.heading_gradient
                -%}
              </p>
            {%- endif -%}
          </div>
        {%- endif -%}

        {% capture content %}
          {% content_for 'blocks' %}
        {% endcapture %}

        <div class="tabs-container">
          <div class="sm:hidden tabs-accordion">
            {{ content }}
          </div>

          <x-tabs class="tabs-inner sm:text-{{ section.settings.text_alignment | replace: 'left', 'start' | replace: 'right', 'end' }} hidden sm:block">
            <template shadowrootmode="open">
              <slot role="tablist" part="tab-list" name="title"></slot>
              <slot part="tab-panels" name="content"></slot>
            </template>
            {{ content }}
          </x-tabs>
        </div>
      </div>
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Custom tabs",
  "class": "shopify-section--tabs",
  "disabled_on": {
    "groups": ["header", "custom.overlay"]
  },
  "max_blocks": 5,
  "blocks": [{ "type": "@theme" }, { "type": "@app" }],
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": true
    },
    {
      "type": "select",
      "id": "content_size",
      "label": "Content size",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        },
        {
          "value": "fill",
          "label": "Fill page"
        }
      ],
      "default": "medium"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "Subheading"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Heading"
    },
    {
      "type": "text_alignment",
      "id": "text_alignment",
      "label": "Desktop text alignment",
      "default": "center"
    },
    {
      "type": "checkbox",
      "id": "first_tab_open",
      "label": "Open first tab on mobile"
    },
    {
      "type": "header",
      "content": "Colors",
      "info": "Gradient replaces solid colors when set."
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Background gradient"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading color"
    },
    {
      "type": "color_background",
      "id": "heading_gradient",
      "label": "Heading gradient"
    }
  ],
  "presets": [
    {
      "name": "Custom tabs"
    }
  ]
}
{% endschema %}
